* text=auto

*.png -text -diff
*.bmp -text -diff
*.cur -text -diff
*.ico -text -diff
*.rsc -text -diff

*.inl linguist-language=cpp

*.ixx linguist-language=c
*.idl linguist-language=c
*.rc linguist-language=c

*.ruleset linguist-language=xml
*.props linguist-language=xml
*.manifest linguist-language=xml

algorithm.* linguist-language=c
adapter.* linguist-language=c
any.* linguist-language=c
array.* linguist-language=c
atomic.* linguist-language=c
barrier.* linguist-language=c
bit.* linguist-language=c
bitset.* linguist-language=c
cassert.* linguist-language=c
ccomplex.* linguist-language=c
cctype.* linguist-language=c
cerrno.* linguist-language=c
cfenv.* linguist-language=c
cfloat.* linguist-language=c
charconv.* linguist-language=c
chorno.* linguist-language=c
cinttypes.* linguist-language=c
ciso646.* linguist-language=c
climits.* linguist-language=c
clocale.* linguist-language=c
cmath.* linguist-language=c
codecvt.* linguist-language=c
compare.* linguist-language=c
complex.* linguist-language=c
concepts.* linguist-language=c
condition_variable.* linguist-language=c
coroutine.* linguist-language=c
csetjmp.* linguist-language=c
csignal.* linguist-language=c
cstdalign.* linguist-language=c
cstdarg.* linguist-language=c
cstdbool.* linguist-language=c
cstddef.* linguist-language=c
cstdint.* linguist-language=c
cstdio.* linguist-language=c
cstdlib.* linguist-language=c
cstring.* linguist-language=c
ctgmath.* linguist-language=c
ctime.* linguist-language=c
cuchar.* linguist-language=c
cwchar.* linguist-language=c
cwctype.* linguist-language=c
deque.* linguist-language=c
exception.* linguist-language=c
execution.* linguist-language=c
expected.* linguist-language=c
filesystem.* linguist-language=c
format.* linguist-language=c
forward_list.* linguist-language=c
fstream.* linguist-language=c
functional.* linguist-language=c
future.* linguist-language=c
generator.* linguist-language=c
hash_map.* linguist-language=c
hash_set.* linguist-language=c
initializer_list.* linguist-language=c
iomanip.* linguist-language=c
ios.* linguist-language=c
iosfwd.* linguist-language=c
iostream.* linguist-language=c
istream.* linguist-language=c
iterator.* linguist-language=c
latch.* linguist-language=c
limits.* linguist-language=c
list.* linguist-language=c
locale.* linguist-language=c
map.* linguist-language=c
mdspan.* linguist-language=c
memory.* linguist-language=c
memory_resource.* linguist-language=c
mutex.* linguist-language=c
new.* linguist-language=c
numbers.* linguist-language=c
numberic.* linguist-language=c
optional.* linguist-language=c
ostream.* linguist-language=c
print.* linguist-language=c
queue.* linguist-language=c
random.* linguist-language=c
ranges.* linguist-language=c
ratio.* linguist-language=c
regex.* linguist-language=c
resumable.* linguist-language=c
scoped_allocator.* linguist-language=c
semaphore.* linguist-language=c
set.* linguist-language=c
source_location.* linguist-language=c
span.* linguist-language=c
spanstream.* linguist-language=c
sstream.* linguist-language=c
stack.* linguist-language=c
stacktrace.* linguist-language=c
stdexcept.* linguist-language=c
stdfloat.* linguist-language=c
stop_token.* linguist-language=c
streambuf.* linguist-language=c
string.* linguist-language=c
string_view.* linguist-language=c
strstream.* linguist-language=c
syncstream.* linguist-language=c
system_error.* linguist-language=c
thread.* linguist-language=c
tuple.* linguist-language=c
type_traits.* linguist-language=c
typeindex.* linguist-language=c
typeinfo.* linguist-language=c
unordered_map.* linguist-language=c
unordered_set.* linguist-language=c
utility.* linguist-language=c
valarray.* linguist-language=c
variant.* linguist-language=c
vector.* linguist-language=c
version.* linguist-language=c
xfacet.* linguist-language=c
xhash.* linguist-language=c
xiosbase.* linguist-language=c
xlocale.* linguist-language=c
xlocbuf.* linguist-language=c
xlocinfo.* linguist-language=c
xlocmes.* linguist-language=c
xlocmon.* linguist-language=c
xlocnum.* linguist-language=c
xloctime.* linguist-language=c
xmemory.* linguist-language=c
xstring.* linguist-language=c
xtr1common.* linguist-language=c
xtree.* linguist-language=c
xutility.* linguist-language=c